/vendor/
/node_modules/
/.env
/storage/logs/
/storage/framework/
/bootstrap/cache/
/public/build/
/public/hot
*.log
.DS_Store
Thumbs.db
backend/.env.mobile
docker-compose.prod.yml
backend-backup.tar.gz
*.tar.gz
.env
.env.*
